<div class="on-loading"></div>

<div class="site-content cuckoo" style="display: none;">
  <article class="category-list">
    <ul>
      {% for post in posts %}
      <li class="category-item">
        <h2 class="category-item-title">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h2>
        <time class="category-item-created-time" datetime="{{ post.date }}">{{ post.dateGTM }}</time>
        <div class="category-item-description" itemprop="description">
          {% if post.ext_excerpt.length %}
          {{ post.ext_excerpt }}
          {% /if %}
        </div>
      </li>
      {% /for %}
    </ul>
  </article>
  <aside class="category-aside"></aside>
  <div class="category-page">
    {% if prevPageUrl.length %}
      <a href="{{ prevPageUrl }}">Previous</a>
      {% if nextPageUrl.length %}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      {% /if %}
    {% /if %}

    {% if nextPageUrl.length %}
      <a href="{{ nextPageUrl }}">Next</a>
    {% /if %}
  </div>
</div>

<script src="asset/jquery-3.3.1.min.js"></script>
<script src="asset/utils.js"></script>

<script>
  $(document).ready(function () {
    $('.entry-updated-time').each(function () {
      let parsedTime = parseTime($(this).text()).slice(0, 10)
      $(this).text(parsedTime)
    })
    $('.on-loading').hide()
    $('.site-content').show()
    $('.site-footer').show()
  })
</script>
