<!DOCTYPE html>
<html lang="zh_CN">

<head>
  <title>
    {% if pageTitle.length %} {{ pageTitle }} {% else %} {{ siteName }} {% /if %}
  </title>

  <meta charset="UTF-8">
  <meta name="description" content="{{ siteDes }}">

  <link rel="stylesheet" type="text/css" href="asset/cuckoo.css">
  <link rel="stylesheet" type="text/css" href="asset/main.css">
  <link rel="stylesheet" type="text/css" href="asset/atom-one-light.css">

  <link rel="alternate" type="application/atom+xml" href="atom.xml" title="{{ siteName }}">

  <script src="asset/highlight.pack.js"></script>
  <!--    <script>hljs.initHighlightingOnLoad();</script>-->
</head>

<body>
<header class="site-header cuckoo">
  <div class="site-logo">
    <a class="site-title" href="index.html">{{ siteName }}</a>
  </div>
  <nav class="site-nav">
    <ul>
      {% for menu in siteMenu %}
      <li><a class="site-menu" href="{{ menu.url }}">{{ menu.name }}</a></li>
      {% /for %}
    </ul>
  </nav>
</header>
</body>

</html>
