<div class="site-content cuckoo">
    <article class="site-article">
        <h1 class="post-title">{{ post.title }}</h1>
        <div class="post-description">
            {% if post.ext_excerpt.length %}
              {{ post.ext_excerpt }}
            {% /if %}
        </div>
        <div class="post-content">{{ post.content }}</div>
        <div class="post-comment">
            {{ commentAndShareCode }}

            {% if ext_disqus_shortname.length %}
                <div class="disqus_thred"></div>
            {% /if %}
        </div>
    </article>
</div>

<script src="asset/jquery-3.3.1.min.js"></script>

<script>
    $(document).ready(function() {
        $('.site-footer').show()
    })
</script>
