/**
    Site Header
 */
.site-header {
  font-family: serif;
  border-bottom: 3px solid #000;
  min-height: 56px;
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
}

.site-title {
  font-size: 30px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
}

a.site-title {
  border-bottom: none;
}

a.site-title:hover {
  border-bottom: none;
}

.trigger a {
  border-bottom: none;
}

.trigger a:hover {
  border-bottom: none;
}

.site-nav {
  float: right;
  line-height: 56px;
}

.site-nav .menu-icon {
  display: none;
}

.site-nav .page-link {
  color: #111;
  line-height: 1.5;
}

.site-nav .page-link:not(:last-child) {
  margin-right: 20px;
}

@media screen and (max-width: 600px) {
  .site-nav {
    position: absolute;
    top: 9px;
    right: 15px;
    background-color: #fdfdfd;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    text-align: right;
  }

  .site-nav .menu-icon {
    display: block;
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;
  }

  .site-nav .menu-icon > svg {
    width: 18px;
    height: 15px;
  }

  .site-nav .menu-icon > svg path {
    fill: #424242;
  }

  .site-nav .trigger {
    clear: both;
    display: none;
  }

  .site-nav:hover .trigger {
    display: block;
    padding-bottom: 5px;
  }

  .site-nav .page-link {
    display: block;
    padding: 5px 10px;
    margin-left: 20px;
  }

  .site-nav .page-link:not(:last-child) {
    margin-right: 0;
  }
}

/* Wrapper */
.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(1000px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

.home {
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
}

li.entry-item {
  list-style-type: none;
}

.post-items li {
  list-style-type: circle;
}

@media screen and (max-width: 800px) {
  .wrapper {
    max-width: -webkit-calc(800px - (30px));
    max-width: calc(800px - (30px));
    padding-right: 15px;
    padding-left: 15px;
  }
}

.wrapper:after,
.footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.paging {
  text-align: center;
}

.paging a {
  border-bottom: none;
  font-family: serif;
}

.entry-updated-time {
  font-size: 0.9em;
  color: #999;
}

.entry-detail {
  margin-bottom: 1.5em;
}

h2.entry-title {
  font-size: 1.5em;
  font-weight: normal;
  margin: 0;
}

.entry-description {
  color: #434343;
  margin-top: 0.5em;
}

/* Footer */
.page-footer {
  padding: 10px 0 20px;
  border-top: 3px solid #000;
  color: #999;
  font-size: 13px;
  text-align: center;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.post-header {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #787D7B;
}

h1.post-title {
  font-family: serif;
  font-size: 2.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.post-description {
  font-size: 1.1em;
  color: #7a7374;
}

.post-content p,
.post-content ul,
.post-content li {
  font-family: "Source Han Serif SC", serif;
  line-height: 1.7;
}

.footnotes {
  font-size: 0.8em;
}

a.site-title {
  text-decoration: none;
}

a.page-link {
  text-decoration: none;
}

.img-comment {
  text-align: center;
  font-style: italic;
  font-size: 0.7em;
  color: #8F8F8B;
}

ul.post-list {
  margin-top: 2em;
}
